.contactContainer {
    margin-top: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contactContainer > form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.contactContainer > form > div{
    color: rgb(109, 12, 12);
    padding: 10px;
    margin-left: -136px;
}

.contactContainer > form > div > input {
    border-radius: 7px;
    width: 100%;
    height: 26px;
}

.contactContainer > form > div {
    border-radius: 7px;
    font-size: 26px;
}

.contactContainer > form > div {
    border-radius: 7px;
    font-size: 26px;
}

.contactContainer > form > div > textarea {
    border-radius: 10px;
    margin-left: 172px;
}

#submitBit{
    margin-left: 100px;
}