.DetailsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    border: 2px solid red;
    border-radius: 20px;
    background-color: rgb(111, 111, 95);
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.DetailsContainer > ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}

.DetailsContainer > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 10px;
    height: 36px;
    width: 286px;
    margin: 10px
}

.DetailsContainer > button {
    position: sticky;
}

#linkId{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: ghostwhite;
    padding: 3px;
}