.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin: auto;
}

.aboutContainer > h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.aboutContainer > p {
    margin-left: 0px;
}

.aboutContainer > span {
    font-size: 100px;
    display: inline;
}

.aboutMain{
    display: flex;
    flex-direction: row;
}

.skipTo {
    width: 233px;
    padding: 10px;
}

.skipTo > h4 {
    margin-top: 15px;
}